@model Bank.Models.AtmConfirmViewModel

@{
    ViewData["Title"] = "Confirm";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Confirm">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="Action" class="form-control" hidden="hidden"/>

            <div class="form-group">
                <label asp-for="PinCode" class="control-label"></label>
                <input asp-for="PinCode" class="form-control" />
                <span asp-validation-for="PinCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

