
@{
    ViewData["Title"] = "Select action";
}

<h1>@ViewData["Title"]</h1>
<hr />
<h2>
    @Html.ActionLink("Account", "AccountList")
</h2>
<br />
<h2>
    @Html.ActionLink("Pay cellular", "CellularList")
</h2>
<br />
<h2>
    @Html.ActionLink("Log out", "Logout")
</h2>


