
@{
    ViewData["Title"] = "ListOfActions";
}

<h1>ListOfActions</h1>
<hr/>
<h2>
    @Html.ActionLink("Withdraw money", "Withdraw")) 
</h2>
<h2>
    @Html.ActionLink("Get money amount", "Status") 
</h2>
<h2>
    @Html.ActionLink("Pay cellular ", "Pay") 
</h2>
<h2>
    @Html.ActionLink("Log out", "Logout") 
</h2>


