
@{
    ViewData["Title"] = "Successful transaction";
}

<h1>Do you want to print transaction info?</h1>
<hr />

<h2>
    @Html.ActionLink("Yes", "Print")
</h2>
<br />
<h2>
    @Html.ActionLink("Back", "ListOfActions")
</h2>


